/*縦向きの場合*/
@media screen and (orientation:portrait) {
    p {
        font-size: 0.8em;
    }
}

/*横向きの場合*/
@media screen and (orientation:landscape) {
    p {
        font-size: 1em;
    }
}
@media  (max-width: 974px){
.wrapper {
        width: 100%;
        max-width: 100%;
        font-family: Noto Sans JP, sans-serif;
    }
.hero {
    overflow: hidden;
    background: url(../../pics/img/top_image_mobile.jpg) no-repeat center/ cover;
    width: 100%;
}
/* ハンバーガーメニューのスタイル */
.right-header {
    display: flex;
    align-items: center;
    margin-left: auto; /* 左側要素から離れて右に寄せる */
}
.header-menu ul{
    display: none;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.header-menu-btn {
    position: relative;
    /* 親に相対指定 */
}

.hamburger {
    display: flex;
    margin:auto;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 1.5em;
    top: 0;
    right:50px;
    bottom: 0;
    line-height: 1;
    z-index: 1;
}

.bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: 0.3s;
}
.header-menu-nav.active {
    display: flex;
    right: 100px;
}


/* バツ印に変化するスタイル */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

/* ナビゲーションメニューのスタイル */
.header-menu-nav.active {
    display: flex;
    right: -40px;
}

/* 初期状態では画面の外に隠れている */
.header-menu-nav {
    display: none;
    height: 120%;
    flex-direction: column;
    background-color: #fff;
    opacity: 0.9;
    padding: 20px;
    top: 0px;
    /* 初期状態では画面の外に隠れている */
    right: -100%;
    position: absolute;
    right: 10px;
    border: 1px solid #ddd;
    transition: right 0.3s ease;
}

/* メニューリストのスタイル */
.header-menu-nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 85px;
}

.header-menu-nav li {
    padding: 20px;
    margin: 10px;
    color: #000;
    list-style: none;
    text-align: center;
}

.header-menu-nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.header-menu-social {
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;

}
.header-menu-social a {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.worksPage-image_2 {
    width: 30%;
    margin: 0 5%;
    padding: 10px;
}
}
@media (max-width: 428px) {
.title-logo {
        font-size: 1.5rem;
        color: #333;
        text-align: center;
        margin: 0;
        padding: 10px 20px;
        font-weight: bold;
    }
.header-menu-nav a{
    font-size: 1.2rem;
}

.hamburger {
    display: flex;
    margin: auto;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 1.5em;
    top: 0;
    bottom: 0;
    right: 30px;
    line-height: 1;
    z-index: 2;
}
.header-menu-nav {
    display: none;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    position: absolute;
    right: 10px;
    border: 1px solid #ddd;
    transition: right 0.3s ease;
    z-index: 1;
}

/* ナビゲーションメニューのスタイル */
.header-menu-nav.active {
    display: flex;
    right: 0px;

}

.hero {
    background: url(../../pics/img/top_image_iphone.jpg) no-repeat center/ cover;
}
.contents-wrapper{
    width: 90%;
    max-width: 100%;
    padding: 0px;
    margin: 0 auto;
}
.main_titile {
    font-size: 2.0rem;
}
.home p {
    font-size: 1.0rem;
}
.sub-title{
    font-size: 1.0rem;
}
.about {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
.about_myself {
    font-size: 2.0rem;
}
img.works_pic {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.works2{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
/************* works 下層ページ *************/


.contact-box {
    padding: 5px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.contact_me{
    font-size: 1.0rem;
    margin: 30px 10%;
    padding: 10px;
}

.footer_titile {
    font-family: "YosugaraVer1.2", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-align:center;
    color: #333;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}
.worksPage-image_2 {
    width: 50%;
    margin: 0 20%;
    padding: 10px;
}
}