.wrapper {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    font-family: Noto Sans JP, sans-serif
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}
p{
    font-size: 2.0em;
    line-height: 1.5em;
    letter-spacing: 0.2cap;
    font-family: 游ゴシック, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #383737;
    margin: 20px;
}
h2 {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #484646;
    letter-spacing: 0.1cap;
    line-height: 1.5cap;
    margin: 0 auto;
    padding: 10px;
}
h3{
    font-family: "Noto Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    text-decoration: none;
}


.border{
    margin: 0 auto;
    border-left: #dd919e solid 13px;
}

.header .header-inner {
    position: relative;
    background: #fff;
    border-left: none;
    border-right: none;
    display: flex;
    /* ← 左寄せに変更 */
    justify-content: flex-start;
    /* ロゴとメニューの間に適度な間隔 */
    width: 100%;
    top: 0;
    overflow: hidden;
}
.left-header{
        display: flex;
        align-items: center;
        gap: 40px;
    }

/* フォントの読み込み */
@font-face {
    font-family: "YosugaraVer1.2";
    src: url("../../font/yosugaraver1_2.ttf") format("truetype");   }

.title-logo{
    font-family: "YosugaraVer1.2", sans-serif;
    font-weight: 400;
    padding: 0 40px 0 40px;

}
.left-header .header-menu {
    position: relative;
    align-items: flex-start;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.header-menu ul {
    /* 横並びにする */
    display: flex;
    height: 100%;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    /* デフォルトの点を消す */
    list-style: none;
    margin: 0;
}
.header-menu a {
    text-decoration: none;
    color: #414040;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-item:hover{
    color: #dd929e;
    transition: all 0.5s;
}

.right-header{
    display: flex;
    align-items: center;
    margin-left: auto;
        /* ← 左側要素から離れて右に寄せる */;

}
.header-menu-btn{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    cursor: pointer;
}
.header-menu-nav{
    display: none;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    opacity: 0.9;
    padding: 20px;
    top: 0px;
    /* 初期状態では画面の外に隠れている */
    right: -100%;
    width: 100%;
    position: absolute;
    border: 1px solid #ddd;
    transition: right 0.3s ease;

}

/************* メニュー *************/
main {
    max-width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

/* ヒーローからメニュー */
.hero {
    display: flex;
    padding-top: 100px;
    height: 100vh;
    background-image: url(../../pics/img/top_image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5b4242;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;

}
.home{
    width: 60%;
    margin: 0 auto;

}
.home p{
    font-size: 1.2rem;
}
.hero-inner{
    max-width: 900px;
    margin: 5% 0;
    border: double 1px #666
    ;
}
.hero-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #666;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
/************* トップ画像　　文字 *************/
.main_titile {
    margin: 0px auto;
    padding: 5px;
    font-family: "Noto Serif", serif;

    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2cap;
    font-style: normal;

}

.sub-title {
    width: 80%;
    font-family: "YosugaraVer1.2", sans-serif;
    font-size: 5rem;
    text-align: center;
    color: #666;
    margin: 0px auto;
}
.scroll-area {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll {
    margin-top: 200px;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10%;
    left: 0;
}

/************* トップ画像　　文字 *************/
#about-myself{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 60px; /* ←左右に60pxの内側余白を追加 */
    max-width: 90%;   /* 中央の幅を狭めることで左右の余白を広げる */
    margin: 40px auto 40px auto;   /* 上40px、左右中央寄せ */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 30px;
}


#my_picture{
    width: 150px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto 20px auto;

}
/************* 上へ戻る *************/
html {
    scroll-behavior: smooth;
}

.page_top {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #383b3b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.page_top__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #383b3b;
    border-right: 3px solid #383b3b;
    transform: translateY(20%) rotate(-45deg);
}


/************* Works *************/
#works{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: rgb(248, 243, 245);
    padding: 20px;
}
.contents-wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.works-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
    box-sizing: border-box;
}
/* ----------------------*
 * カルーセル　コンテナー
 * ----------------------*/
.container {
    --item-width: 600px;
    --item-height: 300px;
    width: var(--item-width);
    position: relative;
    margin-bottom: 40px;
    /* 各パーツ配置をグリッドでレイアウト */
    display: grid;
    grid-template-areas: "item item item" "left markers right";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin:auto;
    width: 100%;
    height: 400px;
}
/* ----------------------*
 * カルーセル
 * ----------------------*/
.carousel {
    width: 100%;
    display: grid;
    /* アイテムを横並びにする */
    grid-auto-flow: column;
    grid-area: item;
    /* 次のスライドとの間隔 */
    gap: 50px;
    overflow-x: auto;
    /* X方向にスナップ */
    scroll-snap-type: x mandatory;
    /* 1度に1枚ずつ移動 */
    scroll-snap-stop: always;
    /* スムーズにスクロールさせる */
    scroll-behavior: smooth;
    /* インジケーターの表示 */
    scroll-marker-group: after;

    /* 前へ・次へボタン */
    &::scroll-button(*) {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        color: #dd929e;
        border: 1px solid #dd929e;
        background-color: #fff;
    }
    /* ホバー時スタイル */
    @media (any-hover: hover) {
        &::scroll-button(*):not(:disabled):hover {
            background-color: #dd929e;
            color: #fff;
            cursor: pointer;
        }
    }


    /* 非活性時スタイル */
    &::scroll-button(*):disabled {
        color: darkgray;
        border: 1px solid lightgray;
    }

    /* 前へボタン（左） */
    &::scroll-button(left) {
        /* 表示内容 / 代替テキスト */
        content: "◀" / "前へ";
        grid-area: left;
        justify-self: end;
    }

    /* 次へボタン（右） */
    &::scroll-button(right) {
        /* 表示内容 / 代替テキスト */
        content: "▶" / "次へ";
        grid-area: right;
    }
    /* インジケーター（コンテナー） */
    &::scroll-marker-group{
        grid-area: markers;
        display: grid;
        place-content: safe center;
        grid: 30px / auto-flow 30px;
        gap: 10px;
        padding: 15px;
        scroll-padding: 15px;
        overflow: auto;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        scrollbar-width: none;
    }
}
/* ----------------------*
 * カルーセルの画像アイテム
 * ----------------------*/
.item {
        min-width: 250px;
        height: 300px;
        flex-shrink: 0;
        /* 縮まないようにする */
        scroll-snap-align: center;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 10px;
        border: #e2dfdf solid 1px;
        box-shadow: 8px 8px 0px 0 rgb(254, 173, 179);

    /* インジケーター */
    &::scroll-marker {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-color: lightgray;
        border-radius: 50%;
        transition: background-color 0.2s;
        flex-shrink: 0;
    }

    /* インジケーターのカレントスタイル */
    &::scroll-marker:target-current {
        background-color: #dd929e;
        border-radius: 50%;
    }
}
/* WORK　part2内容 */
.work-item {
    width: 800px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -8px rgb(0 0 0 / 30%);
    animation: fade-in 3s;
    animation-fill-mode: forwards;

    @keyframes fade-in {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
}
/*ふわっと表示 */
  animation: fade-in 3s;
  animation-fill-mode: forwards;
  }

  @keyframes fade-in {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }


.work-item-list{
    border-bottom: 2px solid #dd929e;
}
img.works_pic {
    margin: 10px auto;
    display: block;
}
video.works2 {
    margin: 10px auto;
    display: block;
}

.view{
    margin: 10px auto;
    padding: 10px;
    text-align: right;
    color: #dd929e;
    font-weight: bold;
    cursor: pointer;
    line-height: 0;
    text-decoration: none;
}
/************* works 下層ページ *************/
.Works-detail{
    width: 100%;
}
.works-wrap {
    margin: 0 auto;

}

p.worksPage-title-sub {
    margin: 80px 0 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}


h2.worksPage-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: .2rem;
    line-height: 1.8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img.worksPage-image {
    margin: 10px auto;
    padding:5px;
}

img.flex-2 {
    width: 40%;
}
.worksPage-image_2{
    width: 40%;
    margin: 0 5%;
    padding: 10px;
}

dl.worksPage-summary {
    display: flex;
    flex-wrap: wrap;
    margin:40px 0 40px;
}
dt.works-list {
    display: block;
    float: left;
    width: 25%;
    margin-bottom: 10px;
    color: #afafaf;
    font-weight: 500;
}

dt.works-list::after {
    content: '';
}

dd.works-text {
    width: 75%;
    margin-bottom: 30px;
    vertical-align: baseline;
}

dl.worksPage-summary-web {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 0 60px;
}

dd.works-text-web {
    width: 75%;
    margin-bottom: 20px;
    vertical-align: baseline;
}

a.worksUrl:hover {
    opacity: .6;
}


h3.works-item-memo {
    font-size: 14px;
    text-align: right;
    letter-spacing: .1em;
    margin: 5px 0 30px;
    font-family: sans-serif;
}

h3.works-item-memo.insta {
    margin-bottom: 0;
}

.works-babyposter-flex {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 20px;
    background: #efefef;
}

.pc-none {
    display: none;
}

.twitter-tweet {
    margin: 0 auto;
}

/* 600px以上で適応 */
@media (min-width: 601px) {
    .career-flex {
        display: flex;
        border-left: none;
        padding-left: 0;
        padding-top: 0;
    }

    .career-flexInner-left {
        width: 15%;
        padding-top: 35px;
    }

    .career-flexInner-right {
        width: 85%;
        border-left: 2px solid #ddd;
        padding-left: 8%;
        padding-top: 35px;
        position: relative;
        font-size: 15px;
    }

    .career-flexInner-right::before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #92BDE6;
        position: absolute;
        top: 45px;
        left: -8px;
    }
}

.br-sp,
p.works-item-memo-sp {
    display: none;
}

/************* works 下層ページ *************/


#contact {
    margin: 0px auto;
    padding: 20px;
}
.contact-box{
    padding:30px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}
.contact_me{
    font-size: 1.2rem;
    text-align: center;
    margin: 30px auto 30px auto;
    padding:20px;
    color: #fff;
    background-color: #a9a9a9;
    border:  3px dotted #ddd;
}


/************* Footer *************/
footer {
    max-width: 100%;
    background-color: rgb(230, 217, 219);
    padding: 20px;
    height: 40vh;
    box-sizing: border-box;
}
.footer-inner{
    padding: 0 80px;
    margin: 0 auto;
}
.footer-menu {
    display: flex;
    /* 横並びにする */
    justify-content: center;
    /* 中央寄せ（任意） */
    gap: 20px;
    /* 項目間の余白（任意） */
    list-style: none;
    /* 点を消す（任意） */
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
.footer-logo{
    font-family: "Noto Serif",
        serif;
    font-weight: 400;
    font-style: normal;
}
.footer-menu li {
    margin: 0;
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #414040;
    font-size: 1.0rem;
    font-weight: 600;
}
.footer-menu a:hover {
    color: #dd929e;
    transition: all 0.5s;
}

footer p {
    text-align: center;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-top: 20px;
}
.footer_titile{
    font-family: "YosugaraVer1.2", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
}